/*==========HEADER==========*/
	header {
		position: absolute;
		top: 5rem;
		width: 100%;
		height: 30vh;
		background-color: #013148;
		display: table;
	}
	h1 {
		font-size: 2rem;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
    line-height: 2.3rem;
		color: white;
	}
/*==========PRODUCTS==========*/
	.products {
		width: 100%;
		margin-top: calc(5rem + 30vh);
		font-size: 0;
		padding: 0 1rem;
	}
	.product {
		width: calc(100% / 2 - 2vw);
		display: inline-block;
		margin: 3vw 1vw;
		padding: 2vw;
		vertical-align: top;
		position: relative;
	}
	#products {
		font-size: 1rem;
		position: absolute;
    top: -5rem;
	}
	.product img {
		display: none;
		width: 100%;
		box-shadow: 0 0 2px gray;
	}
	.active {
		display: block !important;
	}
	.product h3 {
		margin: 1rem 0;
		font-size: 1.2rem;
		line-height: 1.4rem;
		text-align: center;
	}
	.product p {
		font-size: 3vw;
		margin: 1vw 0 2vw;
		text-align: center;
	}
	button[name=kosárba] {
		width: 100%;
		margin: auto;
	}
	button[name=kosárba] {
		padding: 0.5rem;
		background-color: white;
		font-family: 'Montserrat';
		border-radius: 10px;
		font-size: 1.1rem;
		cursor: pointer;
		font-weight: 500;
		transition: 0.2s ease-in-out;
		border: none;
		box-shadow: 0 0 2px gray;
	}
	.logo {
		width: 60%;
		margin: 0 20%;
	}
	.image-box {
		position: relative;
	}
	button[name=next], button[name=prev] {
		position: absolute;
		height: 100%;
		border: none;
		background-color: rgba(0,0,0,.0);
		transition: 0.2s ease-in-out;
		font-size: 2rem;
		cursor: pointer;
		padding: 0.5rem;
		color: rgba(0,0,0,.7);
		text-shadow: 0 0 10px gray;
	}
	button[name=next] {
		right: 0;
	}
/*==========CART==========*/
	.thecart {
		width: 100%;
		margin-bottom: 5rem;
	}
	.thecart h2 {
		text-align: center;
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	.thecart h2::after {
		content: "";
		display: block;
		width: 75%;
		height: 2px;
		background-color: black;
		margin: auto;
		margin-top: 1rem;
	}
	.empty-cart {
		text-align: center;
		margin-bottom: 1rem;
	}
	.cart-row {
		width: 70%;
		height: 10rem;
		margin: auto;
		margin-bottom: 2.5rem;
		position: relative;
	}
	.cart-row::after {
		content: "";
		display: block;
		width: 90%;
		height: 1px;
		background-color: black;
		margin: auto;
		margin-top: 5rem;
	}
	.cart-row img {
		height: 5rem;
		display: inline-block;
		box-shadow: 0 0 2px gray;
		border-radius: 10px;
	}
	.cart-item-title {
		display: table-cell;
		font-size: 1.3rem;
		margin-left: 1rem;
		vertical-align: top;
		margin-top: 1.3rem;
		vertical-align: middle;
	}
	.cart-item-title-box {
		display: inline-table;
		width: calc(100% - 8rem);
		height: 5rem;
		margin-left: 1rem;
		vertical-align: top;
	}
	.cart-row input {
		width: 4rem;
		height: 3rem;
		border-radius: 10px;
		border: none;
		box-shadow: 0 0 2px gray;
		padding-left: 1rem;
		font-size: 1.2rem;
		vertical-align: top;
		margin-top: 1rem;
		position: absolute;
		right: 52%;
		bottom: 1rem;
	}
	.cart-row input:focus {
		outline: none;
	}
	.cart-row button {
		height: 3rem;
		border: none;
		width: 5rem;
		font-family: 'Montserrat';
		font-size: 1.2rem;
		background-color: red;
		color: white;
		border-radius: 10px;
		cursor: pointer;
		box-shadow: 0 0 2px gray;
		vertical-align: top;
		margin-top: 1rem;
		position: absolute;
		left: 52%;
		bottom: 1rem;
	}
	.purchase-button {
		width: 7rem;
		height: 3rem;
		margin-left: calc(50% - 3.5rem);
		background-color: white;
		font-weight: 500;
		border: none;
		border-radius: 10px;
		box-shadow: 0 0 2px gray;
		cursor: pointer;
		font-family: 'Montserrat';
		font-size: 1.1rem;
	}
	.emptybutton {
		background-color: rgba(200,200,200) !important;
		color: rgba(250,250,250);
	}
/*==========COLOR SELECTOR==========*/
	.color-selector {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(255,255,255,.5);
		z-index: 8;
	}
	.colors {
		width: 70%;
		height: 7rem;
		background-color: rgb(236, 195, 133);
		border-radius: 10px;
		margin: auto;
		margin-top: calc(50vh - 2.5rem);
		padding: 0.5rem;
		font-size: 0;
		box-shadow: 0 0 2px gray;
	}
	.colors p {
		font-size: 1rem;
		text-align: center;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 500;
	}
	.colors button {
		width: calc(50% - 1rem);
		margin: 0.5rem;
		height: 3rem;
		border-radius: 10px;
		border: none;
		box-shadow: 0 0 2px gray;
		font-family: 'Montserrat';
		font-size: 1rem;
		cursor: pointer;
	}
/*==========MEDIA QUERY==========*/
	@media screen and (min-width: 768px) {
		h1 {
			font-size: 2.8rem;
			line-height: 3rem;
		}
		.product {
			width: calc(100% / 3 - 4vw);
			margin: 3vw 2vw;
			padding: 2vw;
		}
		.thecart h2::after {
			width: 55%;
		}
		.cart-row {
			width: 50%;
			height: 5rem;
		}
		.logo {
			width: 50%;
			margin: -3rem 25% -2rem;
		}
		.cart-item-title-box {
			width: calc(100% - 17rem - 9%);
		}
		.cart-row button, .cart-row input {
			bottom: none;
		}
		.cart-row button {
			right: 3%;
			left: auto;
		}
		.cart-row input {
			right: calc(5rem + 6%);
		}
		.cart-row::after {
			margin-top: 1rem;
		}
		.colors {
			width: 50%;
		}
		button[name=next], button[name=prev] {
			font-size: 2.3rem;
		}
	}
  @media screen and (min-width: 1024px) {
    header {
      height: 50vh;
    }
		header h1 {
			font-size: 3rem;
		}
    .products {
      padding: 1rem 10%;
      margin-top: calc(5rem + 50vh);
    }
		.product {
			width: calc(100% / 3 - 1rem);
			margin: 0.5rem;
			padding: 2vw;
		}
    .product p {
  		font-size: 1rem;
  		margin: 0.5rem 0 2rem;
  		text-align: center;
  	}
		.product h3 {
			font-size: 1.6rem;
			line-height: 1.8rem;
			margin: 1rem 0;
		}
		button[name=kosárba] {
			width: 60%;
			margin-left: 20%;
		}
		.thecart h2::after {
			width: 32rem;
		}
		.cart-row {
			width: 30rem;
		}
		button[name=kosárba]:hover, .colors button:hover, .purchase-button:hover {
			background-color: rgb(31, 62, 152);
			color: white;
			transition: 0.2s ease-in-out;
		}
		button[name=next]:hover, button[name=prev]:hover {
			background-color: rgba(0,0,0,.1);
			transition: 0.2s ease-in-out;
			padding: 1rem;
			color: rgba(0,0,0,.8);
		}
		button[name=next], button[name=prev] {
			color: rgba(255,255,255,.5);
		}
		.logo {
			width: 25rem;
			margin-left: calc(50% - 12.5rem);
		}
		.colors {
			width: 20rem;
		}
  }
	@media screen and (min-width: 1440px) {
		.products {
      padding: 1rem 20%;
    }
	}
